@import "../../styles/colorPalette.module";

.Quiz{
    display: flex;
    justify-content: center;
    padding: 100px 0 ;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(45deg, $brand_color_3 85%,$brand_color_8 85%, $brand_color_5 86%);

    h1{
        text-align: center;
        color: #ffffff;
        margin-left: 10px;
    }
}

.Quiz__wrapper{
    width: 100%;
    max-width: 600px;
    height: fit-content;
}