$brand_color_1: #3a3a3b;
$brand_color_2: #0e5245;
$brand_color_3: #146152;
$brand_color_4: #197564;
$brand_color_5: #42c491;
$brand_color_6: #50785e;
$brand_color_7: #87a692;
$brand_color_8: #eeeeee;

$brand_color_9: #00ff9d;

$error_color: #f01f30;

$color_white: #ffffff;
