@import "../../styles/colorPalette.module";

.QuizCreator{
  display: flex;
  justify-content: center;
  padding: 100px 0;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(180deg, $brand_color_3 15%,$brand_color_8 15%, $brand_color_5 16%);

  &__form{
    margin: 0 20px;
    padding: 20px;

    width: 100%;
    max-width: 600px;
    height: fit-content;

    background-color: $brand_color_8;

    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  }

  h1{
    text-align: center;
    color: $brand_color_1;
  }

 }